.nagdb__footer{
  display: flex;
  position: relative; 
  left: 0;
  bottom: 0;
}

.nagadb__footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid;
  padding: .5rem;
}

.nagadb__footer-text p {
  font-family: var(--font-family);
}

@media screen and (max-width: 800px) {
  .nagadb__footer-text p {
    font-size: 10px;
  }
}