.nagadb__about { 
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  letter-spacing: 1px;


}
.nagadb__about img {
  box-shadow: 10px 10px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 5px; */
}

.nagadb__about-what {
  background-color: var(--naga-red);
  color: black;
  min-height: 427px;
  
}
.nagadb__about-what__content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.nagadb__about-what-image {
  display: flex;
  flex: 1;
  margin-left: 2rem;

}
.nagadb__about-what-image img {
  color: rgb(0, 0, 0);
  border: solid; 
  border-width: 5px; 
}

.nagadb__about-what-text { 
  flex: 1;
  text-align: center;
  background-color: white;
  width: 591px;
  height: 398px;
  box-shadow: 10px 10px;
  border: solid;
  border-width: 5px;
  

} 
.nagadb__about-what-text h1 {
  margin-bottom: 10px;
  margin-top: 1rem;
}
.nagadb__about-what-text p {
  font-size: 20px;
  margin: 0rem 2rem 0rem 2rem; 
  font-weight: 500;
}

.nagadb__about-mission {
  min-height: 427px;
}
.nagadb__about-mission__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  
}
.nagadb__about-mission-image {
  display: flex;
  flex: 1;
  padding-right: 2rem;
}
.nagadb__about-mission-image img {
  box-shadow: 10px 10px;
  border: solid; 
  border-width: 5px;
  width: 590px;
}
.nagadb__about-mission-text {
  flex: 1; 
  text-align: center;
  background-color: white;
  /* text-shadow: 1px 1px 1px #ffffff; */
  border: solid; 
  width: 650px;
  height: 420px;
  box-shadow: 10px 10px;
  border-width: 5px;
}
.nagadb__about-mission-text h1 {
  margin-bottom: 10px;
  margin-top: 1rem;
  text-align: center;
}
.nagadb__about-mission-text p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0rem 2rem 0rem 2rem;
}

.nagadb__about-why.section__padding{
  padding: 0rem; 
}
.nagadb__about-why {
  background-color: var(--naga-red);
  color: white;
  height: 350px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.nagadb__about-why__content {
  max-width: 1200px;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: white;
  border: solid; 
  border-width: 5px;

}
.nagadb__about-why-text {
  text-align: center;
  
}
.nagadb__about-why-text h1 {
  margin-bottom: 10px; 
  font-size: 40px;
  margin-top: 2rem; 
}
.nagadb__about-why-text p {
  font-size: 24px;
  font-weight: 500;
  margin: 0rem 2rem 2rem 2rem;
}

@media screen and (max-width: 1450px) {
  .nagadb__about-what { 
    min-height: 400px;
  }
  .nagadb__about-what-text {
    width: 464px;
    height: 310px;
  }
  .nagadb__about-what-text h1 {
   font-size: 25px; 
  }
  .nagadb__about-what-text p {
    font-size: 16px;
  }
  .nagadb__about-what-image { 
   width: 464px;
   height: 310px;
   margin-bottom: 15px;
  }

  .nagadb__about-mission {
    min-height: 400px;
  }
  .nagadb__about-mission-text {
    width: 480px;
    height: 320px;
  }
  .nagadb__about-mission-text h1 {
    font-size: 25px; 
  }
  .nagadb__about-mission-text p {
    font-size: 16px
  }
  .nagadb__about-mission-image {
    width: 464px;
    height: 320px;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  .nagadb__about-mission-image img{
    width: auto;
    height: auto;
  }

  .nagadb__about-why-text h1 {
    font-size: 25px;
  }
  .nagadb__about-why-text p {
    font-size: 18px;
  }

}

@media screen and (max-width: 1220px) {
  .nagadb__about-what.section__padding {
    padding: 2rem 2rem;
  }
  .nagadb__about-what__content {
    flex-direction: column;
    align-items: center;
  }
  .nagadb__about-what-text {
    width: 581px;
    height: 350px;
    order: 2;
  }
  .nagadb__about-what-image {
    order: 1;
    padding: 0;
    width: 581px;
    height: 350px;
    margin-left: 0;
  }
  .nagadb__about-what-image img {
    width: 581px;
    height: 300px;
  }


  .nagadb__about-mission.section__padding {
    padding: 2rem 2rem;
  }
  .nagadb__about-mission__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nagadb__about-mission-image {
    order: 1;
    padding: 0;
    width: 581px;
    height: 350px;
  }
  .nagadb__about-mission-image img {
    width: 581px;
    height: 300px;
  }
  .nagadb__about-mission-text {
    width: 581px;
    height: 350px;
    order: 2;
  }

}

@media screen and (max-width: 650px) {
  .nagadb__about-what-image img {
    scale: .8;
  }
  
  .nagadb__about-mission-image img {
    scale: .8; 
  }

  .nagadb__about-what-text {
    width: 464.8px;
    height: 240px;
  }
  .nagadb__about-what-text h1 {
    font-size: 20px;
  }
  .nagadb__about-mission-text {
    width: 464.8px;
    
  }
  .nagadb__about-mission-text h1 {
    font-size: 20px;
    margin-top: .5rem;
  }

  .nagadb__about-why-text h1 {
    font-size: 22px;
  }
  .nagadb__about-why-text p {
    font-size: 16px;
  }
 
}
@media screen and (max-width: 450px) {
  .nagadb__about-what-image {
    margin-top: -40px; 
    margin-bottom: -25px;
  }
  .nagadb__about-what-image img {
    scale: .6;
  }
  .nagadb__about-what-text {
    width: auto;
  }

  .nagadb__about-mission-image {
    margin-top: -40px;
    margin-bottom: -25px;
  }
  .nagadb__about-mission-image { 
    scale: .79;
  }
  .nagadb__about-mission-text {
    width: auto;
  }

  .nagadb__about-why{
    height: 500px;
  }
 
}