.nagadb__links {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 2rem 0rem;
}

.nagadb__links__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  
}

.nagadb__links-getStarted {
  padding: 2rem 0 .5rem 0;
  font-family: var(--font-family);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid;
  border-color: var(--naga-red);
  width: 50%;

}