.nagadb__navbar {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem; 
  background-color: white;
  border-bottom: solid;
  
}

.nagadb__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.nagadb__navbar-links_logo {
  margin-right: 2rem;
}

.nagadb__navbar-links_logo img{
  width: 101px; 
  height: 40.4px;

}

.nagadb__navbar-links_container {
  display: flex;
  flex-direction: row;
}
.nagadb__navbar-links_container p {
  padding: 2px 4px 2px 4px; 
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}
.nagadb__navbar-links_container p::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: .1em;
  bottom: 0;
  left: 0;
  background: var(--naga-red);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nagadb__navbar-links_container p:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nagadb__navbar-links_container p {
  color: #000; 
  font-family: var(--font-family); 
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 

  margin: 0 1rem; 
  cursor: pointer; 
}

.nagadb__navbar-site button {
  padding: 0.5rem 1rem;
  margin-left: 1.5rem;
  color: white;
  font-family: var(--font-family); 
  font-style: normal;
  font-size: 18px; 
  font-weight: 700;
  line-height: 25px; 
  background: var(--naga-red); 
  border-radius: 5px; 
  border: 0; 
  outline: none; 
  cursor: pointer; 
  transition: 0.3s ease; 
}

.nagadb__navbar-site button:hover {
  border-radius: 25px;
}

.nagadb__navbar-menu {
  margin-left: 1rem;
  display: none; 
  position: relative;
}

.nagadb_narbar-menu svg {
  cursor: pointer; 
}

.nagadb__navbar-menu_container { 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column; 
  background-color: white;
  border: solid;
  z-index: 1;

  text-align: end;
  font-family: var(--font-family);
  font-weight: 500;
  padding: 2rem; 
  position: absolute; 
  top: 40px;
  right: 0; 
  margin-top: 1rem; 
  min-width: 210px;
  border-radius: 5px;
}

.underline{
  display: flex;
  justify-content: flex-end;

}
.underline a {
  margin-bottom: 1rem;
  width: fit-content;
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
}
.underline a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: .1em;
  bottom: 0;
  left: 0;
  background: var(--naga-red);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.underline a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nagadb__navbar-menu_container-links-site button{
  padding: .2rem .5rem;
  color: white;
  font-family: var(--font-family); 
  font-style: normal;

  font-weight: 700;
  line-height: 25px; 
  background: var(--naga-red); 
  border-radius: 5px; 
  border: 0; 
  outline: none; 
  cursor: pointer; 
  transition: 0.3s ease;
}
.nagadb__navbar-menu_container-links-site button:hover {
  border-radius: 25px;
}

@media screen and (max-width: 1050px) {
  .nagadb__navbar-links_container{ 
    display: none;
  }
  .nagadb__navbar-site{
    display: none;
  }
 

  .nagadb__navbar-menu {
    display: flex;
    
  }
}

@media screen and (max-width: 700px) {
  .nagadb__navbar{
    padding: 2rem 2rem;
  }

}